/* Logo
.logo{
  text-indent: -999999px;
  background: url('APVCircle.png');
  width: 100px;
  height: 100px;
}

*/
/* NAVIGATION BAR */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7A9D96;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 35px;
    text-decoration: none;
        float APVCircle.png: right;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #CAE4D8;
}


/* GRID */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 24%;
  padding: 0 4px;
}

.column img {
  margin-top: 10px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}



/*  */

#idCircleLogo {
  float: right;
  padding: 10px;
}


#idHomePage {
  border-bottom-style: solid;
  border-bottom-color: #03003F;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  color: black;
  font-size : 50px;
  font-weight: bold;
}

#idBio {
  text-decoration: underline;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  color: black;
  font-size : 35px;
  font-weight: bold;
}


#idFunFacts {
  font-family: "Lucida Console", Monaco, monospace;
  color: black;
  font-size : 35px;
  font-weight: bold;
  text-decoration: underline;
}

#myDIV {
  width: 100%;
  padding: 50px 0;
  background-color: #7A9D96;
  display:none;

}

#idfunFactsPar {
  font-family: "Lucida Console", Monaco, monospace;
  color: black;
  font-size : 20px;
}


#idContact {
  font-family: "Lucida Console", Monaco, monospace;
  color: black;
  font-size : 35px;
  font-weight: bold;
  text-decoration: underline;
}

#idmap{
  font-family: "Lucida Console", Monaco, monospace;
  color: black;
  font-size : 35px;
  text-decoration: underline;
}

  /* Container holding the image and the text */
.BackgroundGrid {
      position: relative;
      text-align: center;
      color: Black;
      font-family: "Courier New", Courier, monospace;
      font-size: 25px;
  }


  /* Bottom left text */
  .bottom-left {
      position: absolute;
      bottom: 8px;
      left: 16px;
  }

  /* Top left text */
  .top-left {
      position: absolute;
      top: 8px;
      left: 16px;
  }

  /* Top right text */
  .top-right {
      position: absolute;
      top: 8px;
      right: 16px;
  }

  /* Bottom right text */
  .bottom-right {
      position: absolute;
      bottom: 8px;
      right: 16px;
  }

  /* Centered text */
  .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}

.BackgroundGrid {
  font-family: "Courier New", Courier, monospace;
  color:black;
  font-size: 25px;
}

#idContactFormat {
  font-family: "Courier New", Courier, monospace;
  color:black;
  font-size: 25px;
  text-align: center;
  border: 2px solid #7A9D96;
  border-radius: 12px;
}
html{
  background-color: #00303F
}

body {
background-color: #f2f2f2;
width: 1000px;
padding: 10px;
border: 10px solid #7A9D96;
margin-left:auto;
margin-right: auto;
}
